plugins:
  - jekyll-relative-links
theme: jekyll-theme-minimal
relative_links:
  enabled: true
  collections: true
include:
  - README.md
  - doc/fabric/AZ1-documentation.md
  - doc/fabric/AZ2-documentation.md
{%         for host in groups.AZ1 %}
  - doc/devices/{{ host }}.md
{%         endfor %}

