# Cloud and Devops Days

## Project

## Laboratory

The testing lab will be deployed within the staging workload domain and the 
following picture represent the current the logical topology:

image::vm_lab.png[align="center", title-align="Diagram"]

### Requirements

Arista Networks supports Ansible for managing devices running the EOS operating 
system natively through eAPI or CloudVision Portal (CVP). This collection 
includes a set of ansible roles and modules to help kick-start the deployments. 
The various roles and templates provided are designed to be customized and 
extended based on the specific needs.

Full documentation for the collection is available on read-the-docs: 
[AVD Repo](https://avd.sh/en/latest/index.html)

### EVE-NG Network simulator

The following diagram represents the network physical elements that will be 
part of the EVPN fabric deployment and the testcase scenario for OHE Dallas.

image::eve_ohe_seed_dallas.png[align="center", title-align="Diagram"]

### Github

Documentation, templates and playbooks will be hosted in the following git 
repositories:

Note: Login to GitHub with your N or X credentials. If you cannot login due to 
invalid permissions. Please, open a ticket on the following service now path.

  • General.
  • Onboarding user.
  • Add user.
  • Parameter1: Follow the help example guide.
  • ParameterCombo2: Git.

## Lab Environment

### AZ1 DOCUMENTATION

- [AZ1 DOCUMENTATION](doc/fabric/AZ1-documentation.md)

#### Devices

{%         for host in groups.AZ1 %}
- [{{ host }}](doc/devices/{{ host }}.md)
{%         endfor %}

### AZ2 DOCUMENTATION

- [AZ1 DOCUMENTATION](doc/fabric/AZ2-documentation.md)

#### Devices AZ2

{%         for host in groups.AZ2 %}
- [{{ host }}](doc/devices/{{ host }}.md)
{%         endfor %}

## LAST CHANGES:

{%         for sw in comparefiles %}
- [{{ sw }}](doc/devices/compare/{{ sw }}.html)
{%         endfor %}


## FAQ

Below is described the work structure used on the git repo:

  • A folder for all your inventories with one sub-folder per inventory. An 
  inventory folder contains all your variables for a given environment 
  like host_vars, group_vars, inventory.yml
  • A folder to store all playbooks. So it is easy to reuse playbooks whatever 
  the inventory is (if you use a coherent syntax)
  • ansible.cfg at the root of this repository

<pre><code>
    |------ inventory
    |       ├    group_vars
    |       ├    host_vars
    |       └-   inventoy.yml
    g└------ playbooks
</code></pre>
